# Linux
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# MacOS
.DS_Store
._*

# Log files
*.log

# Node modules directory
node_modules

# Distribution directory
/dist

# Special git files
!.gitattributes
!.gitignore
!.gitkeep
